html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
    body
        h1.h1 Leasing App - Contact
        br
        h2.h2 Información
        p Nombre: #{name}
        p Teléfono: #{phone_number} 
        p Correo: #{email}
        br
        h2.h2 Mensaje: 
        p #{message}
        br
        p Enviado a través de Finance Leasing App.
